
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: red;
}
.button{
    background-image:linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.white{
    color: white;
}
.gatagory img{
    width: 100px;
}